# Auto-detect text files and normalize them to LF in the Git history
* text=auto eol=lf

# Explicitly ensure document formats are always LF
*.qmd text eol=lf
*.md text eol=lf
*.tex text eol=lf
*.typ text eol=lf
